@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 0.5px solid red;*/
}
body {
    overflow-x: hidden;
    min-width: 370px;
}
:root{
    --primary-color: #222222;
    --secondary-color: #333333;
    --tertiary-color: #BEAD8E;
    --title-color: #777777;
}
header {
    font-family: 'Archivo';
    font-size: 16px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    & a {
        text-decoration: none;
        color: #000;
    }
}
.title {
    display: none;
}
.menu-div {
    display: none;
    &-active {
        display: block;
        width: 100%;
        line-height: 25px;
        padding: 10px;
        & p {
            margin-left: 20px;
            font-weight: 600;
            font-size: 16px;
        }
    }
}
@media only screen and (min-width: 1000px) {
    header {
        background-color: #000;
        height: 60px;
    }
    .title {
        display: block;
        width: 80%;
        margin: auto;
        color: #fff;
        font-size: 15px;
        padding: 5px 0;
    }
}
.primary__btn{
    border-style: none;
    display: block;
    width: 216px;
    height: 60px;
    color: #FFF;
    padding: 23px, 50px;
    background-color: #BEAD8E;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}
.second__btn{
    border-style: none;
    display: block;
    width: 216px;
    height: 60px;
    color: #FFF;
    padding: 23px, 50px;
    background-color: #333;
    border: 2px solid rgba(255, 255, 255, 0.33);
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
}
.section{
    font-family: 'Archivo';
    font-size: 14px;
    &__title{
        font-family: 'Archivo';
        font-size: 0.9em;
        color: var(--title-color);
        letter-spacing: 2.8px;
        font-weight: 700;
    }
    &__headline{
        font-family: 'Old Standard TT';
        font-weight: 400;
        font-size: 3.2em;
        line-height: 60px;
        letter-spacing: -1.2px;
        margin-top: 30px;
    }
}

.link{
    text-decoration: none;
    cursor: pointer;
}

.second__rectangle{
    background: #222;
    padding: 36px 20px;
    &__p{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-bottom: 25px;
    }
    &__input{
        width: 100%;
        max-width: 400px;
        border: none;
        background: #222;
        color: #686868;
        border-bottom: 2px solid #BEAD8E;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 16px;
        &::placeholder{
        background-image: url(../Images/Icon_calendar.svg);
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: left center;
        text-align: center;
        }
        &:focus{
            outline: none;
        }
    }
    &__btn{
        margin-top: 12px;
        width: 250px;
        height: 60px;
        box-decoration-break: none;
    }
    @media only screen and (min-width: 1000px ) {
        display: flex;
        justify-content: space-between;
        padding: 36px 100px;
        margin-bottom: 120px;
    }
}

@import 'navbar';
@import 'firstRectangle';
@import 'rooms';
@import 'rooms-grid';
@import 'video';
@import 'facilities';
@import 'foods';
@import 'marketing';
@import 'footer';
@import 'container';
@import 'contact';
@import 'map';
@import 'presentation';
@import 'about-video';
@import 'services';
@import 'restaurant';
@import 'counter';
@import 'offers';
