@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*border: 2px solid red;*/
}

body {
  overflow-x: hidden;
  min-width: 320px;
}

:root {
  --primary-color: #222222;
  --secondary-color: #333333;
  --tertiary-color: #BEAD8E;
  --title-color: #777777;
}

header {
  font-family: "Archivo";
  font-size: 16px;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #fff;
}
header a {
  text-decoration: none;
  color: #000;
}

.title {
  display: none;
}

.menu-div {
  display: none;
}
.menu-div-active {
  display: block;
  width: 100%;
  line-height: 25px;
  padding: 10px;
}
.menu-div-active p {
  margin-left: 20px;
  font-weight: 600;
  font-size: 16px;
}

@media only screen and (min-width: 1000px) {
  header {
    background-color: #000;
    height: 60px;
  }
  .title {
    display: block;
    width: 80%;
    margin: auto;
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
  }
}
.primary__btn {
  border-style: none;
  display: block;
  width: 216px;
  height: 60px;
  color: #FFF;
  padding: 23px, 50px;
  background-color: #BEAD8E;
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.second__btn {
  border-style: none;
  display: block;
  width: 216px;
  height: 60px;
  color: #FFF;
  padding: 23px, 50px;
  background-color: #333;
  border: 2px solid rgba(255, 255, 255, 0.33);
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.second__rectangle {
  background: #222;
  padding: 36px 20px;
}
.second__rectangle__p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.second__rectangle__input {
  width: 100%;
  max-width: 400px;
  border: none;
  background: #222;
  color: #686868;
  border-bottom: 2px solid #BEAD8E;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
}
.second__rectangle__input::placeholder {
  background-image: url(../Images/Icon_calendar.svg);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: center;
}
.second__rectangle__input:focus {
  outline: none;
}
.second__rectangle__btn {
  margin-top: 12px;
  width: 250px;
  height: 60px;
  box-decoration-break: none;
}
@media only screen and (min-width: 1000px) {
  .second__rectangle {
    display: flex;
    justify-content: space-between;
    padding: 36px 100px;
  }
}

.conteiner {
  text-align: center;
  align-items: center;
}

.third__rectangle {
  background: #F9F9F9;
  padding: 40px 20px;
  height: 610px;
}
.third__rectangle__h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.third__rectangle__h1 {
  margin-bottom: 16px;
}
.third__rectangle__p {
  margin-bottom: 25px;
}
.third__rectangle__btn {
  margin-bottom: 30px;
}

.fourth__rectangle {
  display: flex;
  text-align: center;
  margin-top: -120px;
  flex-direction: column;
  align-items: center;
}
.fourth__rectangle__text {
  padding: 38px 35px;
  margin-bottom: 45px;
  max-width: 270px;
  background-image: url(../Images/svg-gobbler\ -\ 2.png);
  background-repeat: no-repeat;
  background-position: right 20%;
}
.fourth__rectangle__text__img {
  margin-bottom: 30px;
}
.fourth__rectangle__text__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #111111;
}
.fourth__rectangle__text__p {
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  color: #111111;
}

.fifth__rectangle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth__rectangle__img {
  width: 270px;
}
.fifth__rectangle__luxury {
  padding: 38px 35px;
  background: #222;
  width: 270px;
  margin-bottom: 60px;
}
.fifth__rectangle__luxury__icon {
  margin-bottom: 30px;
}
.fifth__rectangle__luxury__h1 {
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
  color: #FFF;
}
.fifth__rectangle__luxury__p {
  font-family: "Roboto", sans-serif;
  line-height: 22px;
  color: #FFF;
}

.container__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__slider__p {
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.container__slider__h1 {
  text-align: center;
}
.container__slider__services {
  width: 256px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
.container__slider__images {
  height: 244px;
  background: #E5E5E5;
  width: 100%;
}
.container__slider__dataRoom {
  padding: 20px 43px;
  margin: 20px;
}
.container__slider__dataRoom__h1 {
  text-align: center;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 12px;
}
.container__slider__dataRoom__p {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 12px;
}
.container__slider__dataRoom__cost {
  font-family: "Archivo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #BEAD8E;
}

.container__video {
  padding: 64px 20px 48px;
  background: #222;
  margin-bottom: 60px;
}
.container__video__p {
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: #BDAC8D;
}
.container__video__h1 {
  color: #FFF;
  margin-bottom: 16px;
}
.container__video__p2 {
  color: #C2C2C2;
  margin-bottom: 32px;
}
.container__video__video {
  height: 270px;
  margin-bottom: 36px;
  background: #E6E6E6;
}

.container__feacture {
  padding: 0 25px;
  text-align: center;
}
.container__feacture__p {
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.container__feacture__h1 {
  margin-bottom: 32px;
}
.container__feacture__slider {
  display: grid;
  height: 375px;
  grid-template-rows: 1;
  text-align: initial;
}
.container__feacture__slider__ul__li {
  grid-row: 1;
  opacity: 0;
}
.container__feacture__slider__ul__li__h1 {
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.9px;
}
.container__feacture__slider__ul__li__p {
  font-weight: 400;
  line-height: 24px;
  width: 250px;
  margin-bottom: 43px;
}

.container__feacture__slider__ul__li__show {
  opacity: 1;
}

.container__menu {
  padding: 20px;
}
.container__menu__icon {
  position: relative;
  left: 79.5%;
}
.container__menu__p {
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
.container__menu__list {
  display: flex;
  margin-bottom: 12px;
  left: 30px;
}
.container__menu__list__img {
  width: 120px;
  height: 120px;
}
.container__menu__list__div {
  padding: 6px 0 6px 30px;
}
.container__menu__list__h1 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.72px;
  margin-bottom: 12px;
}
.container__menu__list__p {
  font-family: "Roboto", sans-serif;
  color: #222;
}

.container__marketing {
  text-align: center;
  background: #111;
  padding: 46px;
}
.container__marketing__div {
  margin-bottom: 60px;
}
.container__marketing__h1 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  margin-bottom: 0;
  color: #FFF;
}
.container__marketing__p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #999;
}

.footer {
  background-image: url(../Images/footer-background.svg);
  padding: 32px 20px;
}
.footer__titulo {
  display: flex;
  align-items: center;
  margin-bottom: 47px;
}
.footer__titulo__logo_H {
  text-align: center;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  padding: 20px;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 43px;
  color: #FFF;
  background: #BDAC8D;
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.footer__titulo__text__h1 {
  display: block;
  font-size: 12px;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2.6px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #111111;
  font-style: normal;
  font-size: 26px;
}
.footer__p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 32px;
}
.footer__conteiner__redes {
  display: flex;
  margin-bottom: 32px;
}
.footer__conteiner__redes__img {
  background: #F8F8F8;
  height: 40px;
  width: 40px;
  padding: 8px;
  margin-right: 10px;
}
.footer__services {
  max-width: 336px;
  margin-bottom: 32px;
}
.footer__services__h2 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 24px;
}
.footer__services__text {
  display: flex;
}
.footer__services__text__p1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 48px;
}
.footer__services__text__p2 {
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 48px;
}
.footer__contact__us {
  margin-bottom: 34px;
}
.footer__contact__us__h2 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 24px;
}
.footer__contact__us__container {
  display: flex;
  margin-bottom: 60px;
}
.footer__contact__us__container__h2 {
  margin-left: 22px;
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.footer__contact__us__container__p {
  margin-left: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer__container {
  background: #F8F8F8;
  padding: 16px 20px;
}
.footer__container__p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: -0.48px;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
}
.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.navbar__menu-burger {
  width: 20px;
  height: 20px;
}
.navbar__menu-logo {
  width: 36px;
  height: 36px;
  box-shadow: 0px 4px 24px rgba(139, 139, 139, 0.75);
  text-align: center;
  line-height: 41px;
  margin-left: 40px;
}
.navbar__menu-text {
  margin-left: 10px;
  font-size: 11px;
}
.navbar__menu-links {
  display: none;
}
.navbar__icons-search {
  margin: 0 20px;
}
@media only screen and (min-width: 600px) {
  .navbar__menu {
    width: 10%;
  }
  .navbar__menu-burger {
    display: none;
  }
  .navbar__menu-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar {
    width: 80%;
    height: 120px;
    margin: auto;
    background-color: #fff;
  }
  .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  .navbar__menu-logo {
    width: 80px;
    height: 80px;
    padding-top: 20px;
    margin-left: 80px;
    font-size: 40px;
    line-height: 44px;
  }
  .navbar__menu-text {
    margin-left: 10px;
    font-size: 26px;
    line-height: 28px;
  }
  .navbar__menu-links {
    font-weight: 600;
    font-size: 18px;
    line-height: 17px;
  }
  .navbar__icons-search {
    margin: 0 120px 0 20px;
  }
  .navbar__icons img {
    border: 2px solid rgba(133, 133, 133, 0.3);
    padding: 6px;
    height: 60px;
  }
}

.first__rectangle {
  background: #333;
  padding: 60px 20px;
  color: #FFF;
}
.first__rectangle__p {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 2.8px;
  color: #FFF;
  margin-top: 75px;
  margin-bottom: 40px;
}
.first__rectangle__h1 {
  font-family: "Old Standard TT";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1.2px;
  color: #FFF;
  margin-bottom: 40px;
}
.first__rectangle__div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
@media only screen and (min-width: 1000px) {
  .first__rectangle {
    padding: 125px 100px 125px 100px;
  }
  .first__rectangle__p {
    font-size: 14px;
    line-height: 15px;
  }
  .first__rectangle__h1 {
    font-family: "Old Standard TT";
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 130px;
    letter-spacing: -1.2px;
    color: #FFF;
    margin-bottom: 40px;
  }
  .first__rectangle__div {
    flex-direction: row;
    gap: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
